@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,800;1,800&family=Reem+Kufi+Fun:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Utilidades */
/* CSS personalizado para efecto neon */
.text-neon-teal {
  text-shadow: 0 0 10px #00fff9, 0 0 20px #00fff9, 0 0 40px #00fff9, 0 0 80px #00fff9;
  color: #00fff9;
}


.hover\:text-neon-teal:hover {
  text-shadow: 0 0 10px #00fff9, 0 0 20px #00fff9, 0 0 40px #00fff9, 0 0 80px #00fff9;
  color: #00fff9;
}

.text-neon-white {
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffffff, 0 0 80px #ffffff;
  color: #ffffff;
}

.hover\:text-neon-white:hover {
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffffff, 0 0 80px #ffffff;
  color: #ffffff;
}


.font-mulish-bold {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.font-mulish-normal {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.alerta-form {
  /* Otras propiedades CSS aquí */
  transition: opacity 0.5s ease; /* Transición de opacidad durante 0.5 segundos con efecto ease */
}

.alerta-form.removiendo {
  opacity: 0; /* Opacidad 0 para ocultar la alerta */
}


@layer components {
  .group-date {
    @apply px-3 py-4 text-4xl font-bold tracking-widest text-gray-800;
  }
  .timeline {
    @apply ml-3 space-y-2 border-l-4 border-gray-200 py-10 relative;
  }
  .event {
    @apply flex items-start;
  }
  .dot {
      @apply 
        absolute top-5 -left-3.5
        bg-blue-400
        h-6 w-6
        rounded-full
        border-4 border-white
        cursor-pointer
    }
 
  .dot-animation {
    @apply absolute -top-3 left-0 right-0 bottom-0 rounded-full border-4 border-white animate-ping;
  }
  .timeline-date {
    @apply text-xs font-bold opacity-40 tracking-widest;
  }
  .timeline-title {
    @apply text-3xl text-gray-600 font-semibold tracking-wide mb-2;
  }
}


